<div class="loginPage">
  <div class="container">
      <%= render 'shared/user_info' %>
      <div class="col-md-8">
        <%= render 'shared/feed' %>
      </div>
      <%#= link_to "メールアドレスでログインする", new_user_session_path,
            class: "btn loginPage_contents_btn" %>
  </div>
</div>
